html {
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#scene {
  position: relative;
  background-color: white;
  overflow: hidden;
}

#balle {
  position: absolute;
  background-color: red;
}

#balle {
  position: absolute;
  background-color: red;
}
