main > section > div > article > .image > img {
  object-fit: cover;
  width: 100%;
}

main > section > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main > section > div > article > .image > .bouton-play {
  padding: 1em;
  border-radius: 5px;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

main > section > div > article > .image > .bouton-play::after {
  content: "▶";
  font-family: helvetica;
}
