main > section > div > article > .image > img {
  object-fit: cover;
  width: 100%;
}

main > section > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

main > section > div > article > .image {
  position: relative;
}

main > section > div > article > .image > .bouton-play {
  bottom: 5px;
  right: 5px;
  position: absolute;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 1px solid black;
  width: 44px;
  height: 40px;
  text-align: center;
  background-color: white;
}

main > section > div > article > .image > .bouton-play::after {
  content: "▶";
  font-family: helvetica;
}

main > section > div > article > .label {
  width: fit-content;
  background-color: #eee;
  border-radius: 2px;
  padding: 0.5em;
  margin: 0.5em 0;
}
