html {
    
}

body {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene {
  width: 1200px;
  height: 600px;
  background-color: white;
}

.joueur {
  width: 50px;
  height: 50px;
  background-color: red;
}
